body { 
	
	width: 100vw;
	text-align: center;
    overflow: hidden;
}
.container {
	width: 600px;
    height: inherit;
	margin: 0 auto;
	overflow: hidden;
    
}

#carousel {
	width: 596px;
	height: 330px;
	margin: 100px auto;
	border: 2px solid #1989fa;
	overflow: hidden;
    position: relative
	
}
.ul-class {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 3000px;
    position: absolute;
    height: inherit;
    overflow: hidden;
}
.ul-class li {
	width: 600px;
    height: inherit;
	float: left;
    
	
}

img {
	width: 100%;
}
.dots {
	width: 160px;
	height: 40px;
	margin: 0 auto;
	position: absolute;
	left: 32%;
	bottom: 0;
}

.dots li {
    width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: aqua;
	margin: 0 5px;
    display: inline-block;
        
    
}

.dots .active {
	background-color: black;	
}
.left {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: indianred;
	position: absolute;
	left: 10%;
	top: 50%;	
}
.right {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: indianred;
	position: absolute;
	left: 90%;
	top: 50%;
}
